.food-Container {
  width: 100%;

  .meals {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .breakfast-section,
    .lunch-section,
    .dinner-section {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
