.core-btn-div {
  height: 120px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .core-btn {
    background-color: #e9023c;
    color: white;

    display: block;
    margin: auto;
    padding: 13px 50px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

.food-Container {
  width: 100%;

  .meals {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .breakfast-section,
    .lunch-section,
    .dinner-section {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
